.main_sect {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
  background-color: white;
  border-radius: 8px;
  padding: 32px 0;
}

.main_sect h1 {
  font-size: 1.6rem;
  margin: 8px;
}

.sect_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.data p {
  font-size: 1.2rem;
}

.data p:nth-of-type(odd) {
  font-weight: 600;
}

.imgs {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
