.main_sect {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  padding: 32px 0;
  width: 100%;
}

.main_sect h1 {
  font-size: 1.6rem;
  margin: 8px;
}

.sect_main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.data {
  min-width: 250px;
  width: 35%;
}

.data p {
  font-size: 1.2rem;
}

.data p:nth-of-type(odd) {
  font-weight: 600;
}

.imgs {
  margin: 12px;
  min-width: 300px;
  position: relative;
  width: 40%;
}

.wine {
  bottom: 0;
  position: absolute;
  right: 0;
}
