.main_sect {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  width: 100%;
}

.main_sect h2 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.items_p_sect {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items_sect {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 12px 0 32px;
}

.items_sect section {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 0 24px;
  max-width: 50%;
  transition: ease 0.5s;
  width: 200px;
}

.items_sect p {
  text-align: center;
}

.active {
  background-color: var(--tealish);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(173, 173, 173, 0.514);
}

.p_sect {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  max-width: 400px;
  min-height: 170px;
  width: 50%;
}

.p_sect p {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}

.icon {
  color: var(--teal);
  height: 50px;
  width: 50px;
}

@media screen and ( max-width : 1000px ) {

  .main_sect h2 {
    font-size: 2rem;
  }

  .items_p_sect {
    flex-direction: row;
    font-size: 1rem;
  }

  .items_sect {
    flex-direction: column;
  }

  .items_sect p {
    font-size: 1rem;
  }
}
