.banner_sect {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner1, .banner2, .banner3 {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-evenly;
  max-height: 80vh;
  width: 105%;
}

.banner1 {
  background-image: url('../images/topo-lp-tofu-desktop.png');
}

.banner1 h1{
  font-size: 4rem;
}

.banner1 li {
  font-size: 2rem;
  list-style: none;
  margin: 6px;
  text-align: center;
}

.link, .link3 {
  background-color: var(--brown);
  border-radius: 8px;
  color: var(--yellowish);
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 150px;
  padding: 8px 16px;
  text-align: center;
  width: 20%;
}

.link:hover, .link3:hover {
  opacity: 0.9;
}

.link:active, .link3:active {
  box-shadow: inset 1px 1px 5px var(--secondary);
}

.banner2 {
  align-items: flex-start;
  background-image: url('../images//women.jpg');
  background-position: 0% 25%;
  justify-content: center;
  padding-left: 5%;
}

.banner2_content {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  max-width: 30%;
  padding: 20px 12px;
  width: 450px;
}

.banner2 h1 {
  font-size: 3rem;
  text-align: center;
}

.banner2 p {
  font-size: 2.5rem;
  justify-self: center;
  text-align: center;
}

.banner3 {
  align-items: flex-start;
  background-image: url('../images/company.png');
  background-position: 0% 100%;
  padding: 5%;
}

.banner3 section {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 12px 24px;
  width: 550px;
}

.banner3 h1 {
  font-size: 3rem;
  text-align: center;
}

.link3 {
  background-color: var(--pink);
  color: var(--secondary);
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  width: 50px;
}

.inactive, .active {
  background-color: var(--yellowish);
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  list-style: none;
  width: 10px;
}

.active {
  background-color: var(--brown);
  cursor: pointer;
}

@media screen and ( max-width : 900px ) {

  .banner1 h1{
    font-size: 3rem;
  }

  .banner1 li {
    font-size: 1.5rem;
    margin: 2px;
  }

  .link, .link3 {
    font-size: 1.2rem;
  }

  .banner2 h1 {
    font-size: 2rem;
  }

  .banner2 p {
    font-size: 1.5rem;
  }

  .banner3 {
    background-position: 50% 0%;
  }

  .banner3 h1 {
    font-size: 2rem;
  }

  .link3 {
    background-color: var(--pink);
    color: var(--secondary);
  }
}

@media screen  and ( max-width : 500px ) {

  .banner2_content {
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 50%;
  }

  .banner3 {
    background-position: 60% 0%;
  }

  .banner3 section {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
