.main_sect {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  width: 100%;
}

.main_sect h2 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  text-align: center;
}

.content_sect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px;
  width: 70%;
}

.content_sect section {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(173, 173, 173, 0.514);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px;
  min-width: 200px;
  padding: 24px 12px;
  width: 30%;
}

.content_sect img {
  height: 100px;
  width: 100px;
}

.content_sect p {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and ( max-width : 800px ) {

  .main_sect h2 {
    font-size: 2rem;
  }

  .content_sect p {
    font-size: 1rem;
  }
}
