.header {
  align-items: center;
  box-shadow: 0 0 10px var(--secondary);
  display: flex;
  justify-content: space-around;
  padding: 12px 24px;
  width: 100%;
}

.menu_label {
  display: none;
}

.logo {
  max-width: 15%;
  width: 100px;
}

.nav {
  align-items: center;
  background-color: var(--main);
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.link {
  color: var(--secondary);
  font-weight: 500;
}

.link:hover {
  opacity: 0.9;
}

.link:active {
  color: var(--pink);
}

.aside {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 40%;
  width: 200px;
}

.img {
  height: 50px;
  width: 50px;
}

@media screen and ( max-width : 1070px ) {

  .header {
    padding: 8px 12px;
    position: relative;
  }

  .menu_label {
    display: block;
    order: -1;
  }

  .menu_check {
    height: 1px;
    visibility: hidden;
    width: 1px;
  }

  .nav {
    align-items: flex-start;
    background-color: var(--main);
    box-shadow: 0  5px 15px var(--secondary);
    flex-direction: column;
    left: 0;
    padding: 8px;
    position: absolute;
    top: 67px;
    transform: translateX(-150%);
    transition: all 0.2s ease;
    width: 130px;
  }

  .menu_check:checked .header > .nav {
    transform: translateX(0);
  }

  .aside {
    justify-content: center;
  }
}

@media screen and ( max-width : 500px ) {

  .img {
    height: 40px;
    margin: 8px;
    width: 40px;
  }
}
