.main_sect {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--teal);
  font-weight: 600;
  font-size: 1.6rem;
}

.title:hover {
  opacity: 0.9;
}

.title:active {
  color: var(--pink);
}

.cards_sect {
  box-shadow: inset 10px 1px 20px rgba(173, 173, 173, 0.514);
  display: flex;
  margin: 8px 0 40px;
  overflow-x: scroll;
  padding: 16px 24px 16px;
  width: 100%;
}

.card_sect {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(173, 173, 173, 0.514);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 12px;
  padding: 8px;
  position: relative;
}

.rating {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  justify-content: space-between;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.star {
  color: var(--yellow);
}

.img {
  height: 350px;
}

.name {
  font-size: 1.2rem;
  text-align: center;
}

.price, .price_not {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  width: 80%;
}

.price strong, .price_not strong {
  font-size: 1.2rem;
  font-weight: 400;
}

.full_price {
  font-size: 0.8rem;
  text-decoration: line-through;
}

.off {
  background-color: var(--yellowish);
  box-shadow: 7px 7px 20px rgba(161, 161, 161, 0.575);
  color: var(--brown);
  font-size: 0.9rem;
  font-weight: 600;
  height: 50px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  transform: rotate(20deg);
  width: 50px;
}

.btn {
  background-color: var(--teal);
  border: none;
  border-radius: 8px;
  color: var(--main);
  cursor: pointer;
  font-weight: 600;
  padding: 8px 12px;
  margin: 8px;
}
