@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

:root {

  --main: rgb(245, 245, 245);

  --secondary: rgb(36, 29, 27);

  --accent: rgb(126, 188, 67);

  --pink: rgb(230, 111, 146);

  --pinkish: rgb(245, 214, 220);

  --teal: rgb(103, 192, 165);

  --tealish: rgb(213, 233, 226);

  --yellow: rgb(245, 185, 80);

  --yellowish: rgb(246, 222, 180);

  --light-brown: rgb(194, 151, 124);

  --brown: rgb(191, 84, 7);
}

* {
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive, sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--main);
  color: var(--secondary);
}

::selection {
  background-color: var(--teal);
}

button:hover {
  opacity: 0.8;
}

button:active {
  box-shadow: inset 1px 1px 5px var(--secondary);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  width: 80%;
}

::-webkit-scrollbar {
  height: 8px;
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--tealish);
}

::-webkit-scrollbar-thumb {
  background: var(--teal);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

@media screen and ( max-width : 900px ) {

  main {
    width: 90%;
  }
}
