:root {

  --main: rgb(245, 245, 245);

  --secondary: rgb(36, 29, 27);

  --accent: rgb(126, 188, 67);

  --pink: rgb(230, 111, 146);

  --pinkish: rgb(245, 214, 220);

  --teal: rgb(103, 192, 165);

  --tealish: rgb(213, 233, 226);

  --yellow: rgb(245, 185, 80);

  --yellowish: rgb(255, 255, 255);

  --brown: rgb(194, 151, 124);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 5rem;
}
